@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-size: cover;
    background-position: bottom center ;
    background-repeat: no-repeat;
}